{% extends "main/layout.html" %}

{% block styles %}
{{ super() }}
<style>
    .greyIcon {
        filter: grayscale(100%);
    }
</style>
{% endblock %}
{% block head_scripts %}
{{ super() }}
<script>
const numOfPassengers = window.sessionStorage.getItem("passengers");
const itineraryStr = window.sessionStorage.getItem("itinerary");
if (itineraryStr === null || numOfPassengers === null) {
    // If they navigated to this page from a previous session we need to send them back to the home page.
    window.location.replace("{{ url_for('main.home') }}");
}
</script>
{% endblock %}

{% block content %}
<div id="contentContainer" class="flex-grow-1" style="background-color: #FAFAFA;">
    <div class="mt-3 mx-auto container" style="max-width: 938px;">
        <div class="card shadow mb-3">
            <div class="card-body">
                <h5 class="card-title">Purchase Details</h5>
                <hr>
                <div class="container">
                    <div class="row">
                        <div id="flightContainer" class="col">
                            <div class="hstack">
                                <h2 id="departureAirport"></h2>
                                <h2><i class="bi bi-arrow-right-short"></i></h2>
                                <h2 id="arrivalAirport"></h2>
                                <h6 class="ms-auto" id="departureDate"></h6>
                            </div>
                        </div>
                        <div class="col-md">
                            
                        </div>
                        <hr class="d-md-none">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-8">
                                    <p>Fare Per Passenger</p>
                                </div>
                                <div class="col">
                                    <p class="text-end" id="baseFare"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <p>Taxes & Fees</p>
                                </div>
                                <div class="col">
                                    <p class="text-end" id="taxes"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <p>Passengers</p>
                                </div>
                                <div class="col">
                                    <div class="hstack ms-auto">
                                        <p class="ms-auto">x</p>
                                        <p class="text-end" id="passengers"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-auto">
                                <div class="col">
                                    <h4>Total</h4>
                                </div>
                                <div class="col">
                                    <h3 class="text-end" id="totalFare"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-3">
            <div class="card-body">
                <h5 class="card-title">Payment Method</h5>
                <hr>
                <h2>Card</h2>
                <div class="mb-2">
                    <img id="genericIcon" src="/static/icons/creditcard-icon.png">
                    <img id="visaIcon" src="/static/icons/visa-icon.png">
                    <img id="mastercardIcon" src="/static/icons/mastercard-icon.png">
                    <img id="amexIcon" src="/static/icons/amex-icon.png">
                </div>
                <form>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-credit-card"></i></span>
                        <label for="card_number" hidden></label>
                        <input class="form-control" name="card_number" id="card_number" placeholder="Card Number" required autocomplete="cc-number"/>
                    </div>
                    <div class="input-group mb-3">
                        <input name="card_expiry" id="card_expiry" type="text" class="form-control" placeholder="MM / YY" required autocomplete="cc-exp">
                        <input name="card_cvc" id="card_cvc" type="text" class="form-control" placeholder="CVC" required autocomplete="off">
                        <span class="input-group-text"><i class="bi bi-credit-card-2-back"></i></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<template id="flightRow">
    <div class="hstack">
        <h6 name="departureCode"></h6>
        <h6><i class="bi bi-arrow-right-short"></i></h6>
        <h6 name="arrivalCode"></h6>
        <h6 name="flightNumber" class="ms-auto"></h6>
    </div>
</template>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/jquery.payment.js"></script>
<script src="/static/scripts/luxon.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#card_number').payment('formatCardNumber');
        $('#card_expiry').payment('formatCardExpiry');
        $('#card_cvc').payment('formatCardCVC');

        const $genericIcon = $('#genericIcon');
        const $visaIcon = $('#visaIcon');
        const $mastercardIcon = $('#mastercardIcon');
        const $amexIcon = $('#amexIcon');

        // TODO: We need to pass this data back to the server and get accurate pricing.
        // A malicious actor could potentially modify the session storage object with a lower price.
        const itinerary = JSON.parse(itineraryStr);

        const departure_dt = luxon.DateTime.fromISO(itinerary.departure_datetime, { setZone: true });
        const arrival_dt = luxon.DateTime.fromISO(itinerary.arrival_datetime, { setZone: true });

        $('#departureDate').text(departure_dt.toFormat("ccc, LLL d"));
        $('#departureAirport').text(itinerary.departure_airport.code);
        $('#arrivalAirport').text(itinerary.arrival_airport.code);
        $('#baseFare').text(`\$${itinerary.base_fare.toFixed(2)}`);
        $('#taxes').text(`\$${itinerary.taxes.toFixed(2)}`);
        $('#passengers').text(numOfPassengers);

        const totalFare = itinerary.cost * numOfPassengers;
        $('#totalFare').text(`\$${totalFare.toFixed(2)}`);

        for (const i in itinerary.flights) {
            const flight = itinerary.flights[i];

            const template = document.querySelector('#flightRow');
            const row = template.content.cloneNode(true);
            const $row = $(row);

            $row.find('[name="flightNumber"]').text(`RE${flight.number}`);
            $row.find('[name="departureCode"]').text(flight.departure_airport.code);
            $row.find('[name="arrivalCode"]').text(flight.arrival_airport.code);

            $('#flightContainer').append(row);
        }


        $('#card_number').on('input', function (event) {
            const cc = $(this).val();
            if (cc === "") {
                $genericIcon.removeClass('greyIcon');
                $visaIcon.removeClass('greyIcon');
                $mastercardIcon.removeClass('greyIcon');
                $amexIcon.removeClass('greyIcon');
                return
            }

            const cardType = $.payment.cardType(cc);
            if (cardType === "visa") {
                $genericIcon.addClass('greyIcon');
                $visaIcon.removeClass('greyIcon');
                $mastercardIcon.addClass('greyIcon');
                $amexIcon.addClass('greyIcon');
            } else if (cardType === "mastercard") {
                $genericIcon.addClass('greyIcon');
                $visaIcon.addClass('greyIcon');
                $mastercardIcon.removeClass('greyIcon');
                $amexIcon.addClass('greyIcon');
            } else if (cardType === "amex") {
                $genericIcon.addClass('greyIcon');
                $visaIcon.addClass('greyIcon');
                $mastercardIcon.addClass('greyIcon');
                $amexIcon.removeClass('greyIcon');
            } else {
                $genericIcon.removeClass('greyIcon');
                $visaIcon.addClass('greyIcon');
                $mastercardIcon.addClass('greyIcon');
                $amexIcon.addClass('greyIcon');
            }
        });
    });
</script>
{% endblock %}