{% from 'bootstrap/messages.html' import render_messages %}
{% extends "main/layout.html" %}

{% block content %}
{{ super() }}
<div class="flex-grow-1 overlay-parent" style="background-color: rgba(0,0,0,0.5);">
    <img src="/static/images/logo.png" class="overlay-background" style="width: 75%; max-width: 500px;">
    <div class="text-center text-light mx-4 mt-auto mb-4">
        <h1>Book Now</h1>
        <p class="text-wrap text-uppercase">Book a flight quick and easy with 24/7 customer support and free cancellations</p>
        <button type="button" class="btn btn-outline-light mx-auto">Search All</button>
    </div>
</div>
<div class="my-auto mx-4 text-center">
    <h3 class="my-3">Book a flight with our new user friendly app!</h3>
    <p class="text-wrap">Red Eye is a website for booking flights with free cancellation and email notifications. Book
        your flight today!</p>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        // Show search by default on larger screens.
        const x = window.matchMedia("(min-width: 768px)")
        if (x.matches) {
            searchCollapse.show();
        }
    });
</script>
{% endblock %}