{% from 'bootstrap/messages.html' import render_messages %}
{% extends "base.html" %}

{% set endpoint = '' -%}
{% if request.endpoint -%}
{% set endpoint = request.endpoint -%}
{% endif -%}

{% block styles %}
{{ super() }}
<link href="/static/content/typeahead.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block body %}
<div class="d-flex flex-column min-vh-100">
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light bg-white my-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.home') }}">
                <img src="/static/images/logo.png" alt="" width="120" height="30">
            </a>
            <ul class="navbar-nav flex-row d-flex d-md-none">
                <li class="position-relative">
                    <a class="nav-link p-2 collapse-button collapse-button-light" name="searchButton" data-bs-toggle="collapse" href="#searchCollapse" role="button" aria-expanded="false" aria-controls="searchCollapse">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto d-none d-md-flex">
                    <li class="position-relative">
                        <a class="nav-link p-2 collapse-button collapse-button-light" name="searchButton" data-bs-toggle="collapse" href="#searchCollapse" role="button" aria-expanded="false" aria-controls="searchCollapse">
                            <i class="bi bi-search"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if current_user.is_anonymous %}
                    {% if args is defined %}
                    {% set next = url_for(endpoint, **args) %}
                    {% else %}
                    {% set next = url_for(endpoint) %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link p-2" href="{{ url_for('auth.register', next=next) }}">
                            <i class="bi bi-person-fill mx-2"></i><i>Sign Up</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" href="{{ url_for('auth.login', next=next) }}">
                            <i class="bi bi-box-arrow-in-right mx-2"></i></i>Login</i>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-item nav-link dropdown-toggle me-md-2" href="#" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" id="user-menu">
                            {{ current_user.first_name }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-menu">
                            {% if current_user.role == 'admin' %}
                            <li><a class="dropdown-item" href="{{ url_for('admin.home') }}">Admin</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% elif current_user.role == 'agent' %}
                            <li><a class="dropdown-item" href="{{ url_for('agent.sales') }}">Agent</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ url_for('main.my_trips') }}">My Trips</a></li>
                            <li><a class="dropdown-item" href="#" onclick="logout()">
                                    <i class="bi bi-box-arrow-left"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock navbar %}
    {% block search %}
    <div class="collapse" id="searchCollapse">
        <form id="searchForm" class="needs-validation" method="get" action="{{ url_for('main.search') }}" novalidate>
            <div class="px-3">
                <div class="d-flex flex-column flex-md-row justify-content-center">
                    <div class="form-floating">
                        <input class="form-control airport-typeahead" id="searchDepartureCode" name="departure_code" placeholder="From" type="text"
                            autocomplete="off">
                        <label for="searchDepartureCode">From</label>
                        <p class="lead feedback" id="searchDepartureCode-feedback"></p>
                    </div>
                    <h1 class="d-none d-md-block"><i class="bi bi-arrow-right-short"></i></h1>
                    <div class="form-floating">
                        <input class="form-control airport-typeahead" id="searchArrivalCode" name="arrival_code" placeholder="To" type="text"
                            autocomplete="off">
                        <label for="searchArrivalCode">To</label>
                        <p class="lead feedback" id="searchArrivalCode-feedback"></p>
                    </div>
                    <div class="form-floating mb-3 mb-md-0 mx-md-3">
                        <select class="form-select" id="tripType">
                            <option value="round-trip" selected>Round Trip</option>
                            <option value="one-way">One Way</option>
                        </select>
                        <label for="tripType">Trip Type</label>
                    </div>
                    <div class="form-floating mb-3 mb-md-0 me-md-3">
                        <input class="form-control" id="searchDepartureDate" type="text" placeholder="Date">
                        <label for="searchDepartureDate">Date</label>
                    </div>
                    <div class="form-floating mb-3 mb-md-0 me-md-3" style="min-width: 120px;">
                        <input class="form-control pe-4" id="searchNumOfPassengers" name="num_of_passengers" type="number"
                            min="1" max="5" value="1">
                        <label for="searchNumOfPassengers">Passengers</label>
                    </div>
                    <div class="d-grid d-md-block">
                        <!-- Height of calc(3.5rem + 2px) keeps the button the same height as the rest of the search fields. -->
                        <button type="submit" class="btn btn-redeye mb-3 mb-md-0" style="height: calc(3.5rem + 2px); min-width: calc(3.5rem + 2px);"><i
                                class="bi bi-arrow-right-circle d-none d-md-inline"></i><p class="d-inline d-md-none">Search</p></button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="max_layovers" value="2">
            <input type="hidden" id="departure_date" name="departure_date" value="">
            <input type="hidden" id="return_date" name="return_date" value="">
        </form>
    </div>
    {% endblock search %}
    
    {% block content %}

    {% block messages %}
    {{ render_messages(container_classes=['container']) }}
    {% endblock %}

    {% endblock content %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="/static/scripts/luxon.min.js"></script>
<script src="/static/scripts/typeahead.bundle.min.js"></script>
<script>
    let searchCollapse = null;

    function setInvalid($input, $feedback, message) {
        $input.addClass('is-invalid');
        $input[0].setCustomValidity(message);
        $feedback.addClass('invalid-feedback');
        $feedback.text(message);
    }

    function setValid($input, $feedback, message) {
        $input.removeClass('is-invalid');
        $input[0].setCustomValidity('');
        $feedback.removeClass('invalid-feedback');
        $feedback.text(message);
    }

    function validateInput($input, $feedback) {
        const code = $input.val();
        const airport = airport_bloodhound.get(code)[0];
        if (airport == undefined) {
            setInvalid($input, $feedback, 'Enter valid airport');
        } else {
            setValid($input, $feedback, `${airport.city}, ${airport.state}`);
            const key = `last_${$input.attr("name")}`;
            window.sessionStorage.setItem(key, code);
        }
    }

    function initDateRangePicker($input, singleDate) {
        function updateDateInputs(start, end, label) {
            $('#departure_date').val(start.format('YYYY-MM-DD'));
            if (!singleDate) {
                $('#return_date').prop("disabled", false);
                $('#return_date').val(end.format('YYYY-MM-DD'));
            } else {
                $('#return_date').prop("disabled", true);
            }
        }

        $input.daterangepicker({
            opens: 'right',
            autoApply: true,
            minDate: moment(),
            maxDate: moment().add(1, 'years'),
            singleDatePicker: singleDate
        }, updateDateInputs);

        const data = $input.data('daterangepicker');
        updateDateInputs(data.startDate, data.endDate);
    }

    $(document).ready(function () {
    
        const searchCollapseEl = document.getElementById('searchCollapse')
        searchCollapse = new bootstrap.Collapse(searchCollapseEl, {
            toggle: false
        });

        $(searchCollapseEl).on('show.bs.collapse', function(event) {
            $('[name="searchButton"]').addClass('active');
        });

        $(searchCollapseEl).on('hide.bs.collapse', function(event) {
            $('[name="searchButton"]').removeClass('active');
        });

        const $form = $('#searchForm');
        const $departure_input = $('#searchDepartureCode');
        const $departure_feedback = $('#searchDepartureCode-feedback');
        const $arrival_input = $('#searchArrivalCode');
        const $arrival_feedback = $('#searchArrivalCode-feedback');
        const $type_input = $('#tripType');
        const $date_input = $('#searchDepartureDate');
        const $passengers_input = $('#searchNumOfPassengers');

        setupAirportTypeahead($departure_input);
        setupAirportTypeahead($arrival_input);

        $('.airport-typeahead').on('input', function(event) {
            const val = event.target.value;
            if (val === '') {
                const $feedback = $(`#${event.target.id}-feedback`);
                $feedback.text('');
            }
        });

        $departure_input.on('typeahead:select', function(event, item, dataset) {
            $arrival_input.focus();
        });

        $arrival_input.on('typeahead:select', function(event, item, dataset) {
            $date_input.focus();
        });

        $departure_input.on('typeahead:change', function (event) {
            const departure_code = $departure_input.val();
            const arrival_code = $arrival_input.val();
            if (departure_code === "") {
                setValid($departure_input, $departure_feedback, "");
                return
            } else if (departure_code === arrival_code) {
                setInvalid($departure_input, $departure_feedback, "Airports cannot match");
            } else if (arrival_code !== "") {
                validateInput($arrival_input, $arrival_feedback);
            }

            validateInput($departure_input, $departure_feedback);
        });

        $arrival_input.on('typeahead:change', function (event) {
            const departure_code = $departure_input.val();
            const arrival_code = $arrival_input.val();
            if (arrival_code === "") {
                setValid($arrival_input, $arrival_feedback, "");
                return
            } else if (arrival_code === departure_code) {
                setInvalid($arrival_input, $arrival_feedback, "Airports cannot match");
                return
            } else if (departure_code !== "") {
                validateInput($departure_input, $departure_feedback);
            }

            validateInput($arrival_input, $arrival_feedback);
        });

        $type_input.on('change', function(event) {
            window.sessionStorage.setItem('last_trip_type', $type_input.val());
            if (this.value === 'round-trip') {
                initDateRangePicker($date_input, false);
            } else {
                initDateRangePicker($date_input, true);
            }
        });

        $date_input.on('change', function (event) {
            window.sessionStorage.setItem('last_departure_date', $date_input.val());
        });

        $passengers_input.on('change', function (event) {
            window.sessionStorage.setItem('last_num_of_passengers', $passengers_input.val());
        });

        $form.submit(function (event) {
            validateInput($departure_input, $departure_feedback);
            validateInput($arrival_input, $arrival_feedback);   
            if (!this.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            $form.addClass('was-validated');
        });

        const lastDepartureCode = window.sessionStorage.getItem("last_departure_code");
        if (typeof lastDepartureCode === "string") {
            $departure_input.typeahead('val', lastDepartureCode);
            $departure_input.trigger('typeahead:change')
        }
        const lastArrivalCode = window.sessionStorage.getItem("last_arrival_code");
        if (typeof lastArrivalCode === "string") {
            $arrival_input.typeahead('val', lastArrivalCode);
            $arrival_input.trigger('typeahead:change');
        }

        const today = luxon.DateTime.now();
        const lastDepartureDate = window.sessionStorage.getItem("last_departure_date");
        if (typeof lastDepartureDate === "string") {
            $date_input.val(lastDepartureDate);
        } else {
            $date_input.val(today.toISODate());
        }

        const lastTripType = window.sessionStorage.getItem("last_trip_type");
        if (typeof lastTripType === "string") {
            $type_input.val(lastTripType);
            if (lastTripType === 'round-trip') {
                initDateRangePicker($date_input, false);
            } else {
                initDateRangePicker($date_input, true);
            }
        } else {
            initDateRangePicker($date_input, false);
        }

        const lastNumOfPassengers = window.sessionStorage.getItem("last_num_of_passengers");
        if (typeof lastNumOfPassengers === "string") {
            $passengers_input.val(lastNumOfPassengers);
        }
    });
</script>
{% endblock %}