{% extends "main/layout.html" %}

{% block content %}
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Cancel Trip</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel this trip? This includes all passengers and will refund the entire purchase price.</p>
                <p class="lead fs-6">For individual passenger or flight cancellations, please call one of our agents at <a href="tel:1-800-123-4567">1-800-123-4567</a></p>
            </div>
            <div class="modal-footer">
                <button onclick="$(this).trigger('rejected.bs.modal')" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">No</button>
                <button onclick="$(this).trigger('accepted.bs.modal')" type="button" class="btn btn-redeye"
                    data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="content-background flex-grow-1">
    {% if upcoming_trips or purchase_history %}
    {% if upcoming_trips %}
    <div class="content-card mx-auto" style="max-width: 938px;">
        <h5>Upcoming Trips</h5>
        <div class="accordion" id="upcomingTripsAccordian">
            {% for trip, purchase, form in upcoming_trips %}
            {% set refund_amount = purchase.refund_amount %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="upcoming-header-{{ loop.index }}">
                    <button class="accordion-button{% if not loop.first %} collapsed{% endif %}" type="button"
                        data-bs-toggle="collapse" data-bs-target="#upcoming-collapse-{{ loop.index }}"
                        aria-expanded="{% if loop.first %}true{% else %}false{% endif %}"
                        aria-controls="upcoming-collapse-{{ loop.index }}">
                        <div class="d-inline-flex flex-column justify-content-center">
                            <h4>{{ trip.arrival_airport.city }}, {{ trip.arrival_airport.state }}</h4>
                            <h6>{{ trip.departure_datetime.strftime('%a, %b %d, %Y') }}</h6>
                        </div>
                    </button>
                </h2>
                <div id="upcoming-collapse-{{ loop.index }}"
                    class="accordion-collapse collapse{% if loop.first %} show{% endif %}"
                    aria-labelledby="upcoming-header-{{ loop.index }}" data-bs-parent="#upcomingTripsAccordian">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md">
                                <div class="vstack justify-content-between h-100">
                                    <div class="hstack text-center mx-auto mb-3">
                                        <div class="d-inline-flex flex-column">
                                            <h4>{{ trip.departure_airport.code }}</h4>
                                            <h6>{{ trip.departure_datetime.strftime('%I:%M %p') }}</h6>
                                        </div>
                                        <h4><i class="bi bi-arrow-right-short"></i></h4>
                                        <div class="d-inline-flex flex-column">
                                            <h4>{{ trip.arrival_airport.code }}</h4>
                                            <h6>{{ trip.arrival_datetime.strftime('%I:%M %p') }}</h6>
                                        </div>
                                    </div>
                                    <div>
                                        {% for flight in trip.flights %}
                                        <div class="hstack">
                                            <h6>
                                                {{ flight.flight.departure_airport.code }}
                                                <i class="bi bi-arrow-right-short"></i>
                                                {{ flight.flight.arrival_airport.code }}
                                            </h6>
                                            <h6 class="ms-auto">RE{{ flight.flight.number }}</h6>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <hr class="d-block d-md-none my-3">
                            <div class="col-md">
                                <div class="vstack h-100">
                                    <div class="hstack">
                                        <p class="flex-grow-1 mb-1">Base Fare</p>
                                        <p class="mb-1">{{ "$%.2f"|format(purchase.base_fare / purchase.total_passengers) }}</p>
                                    </div>
                                    <div class="hstack">
                                        <p class="flex-grow-1 mb-1">Passengers</p>
                                        <p class="mb-1">x{{ purchase.total_passengers }}</p>
                                    </div>
                                    <div class="hstack">
                                        <p class="flex-grow-1 mb-1">Total Fare</p>
                                        <p class="mb-1">{{ "$%.2f"|format(purchase.base_fare) }}</p>
                                    </div>
                                    <div class="hstack">
                                        <p class="flex-grow-1 mb-1">Taxes & Fees</p>
                                        <p class="mb-1">{{ "$%.2f"|format(purchase.taxes) }}</p>
                                    </div>
                                    {% if refund_amount > 0 %}
                                    <div class="hstack">
                                        <h6 class="flex-grow-1">Subtotal</h6>
                                        <h6>{{ "$%.2f"|format(purchase.purchase_price) }}</h6>
                                    </div>
                                    <div class="hstack mt-auto pt-4">
                                        <h6 class="flex-grow-1">Refund</h6>
                                        <h6 class="text-redeye">{{ "-$%.2f"|format(refund_amount) }}</h6>
                                    </div>
                                    {% endif %}
                                    <div class="hstack mt-auto">
                                        <h4 class="flex-grow-1">Total</h4>
                                        <h3>{{ "$%.2f"|format(purchase.purchase_price - refund_amount) }}</h3>
                                    </div>
                                </div>
                            </div>
                            <form id="cancelForm-{{ purchase.id }}" class="api-form" method="post" action="{{ url_for('api.purchaserefund', id=purchase.id) }}">
                                {{ form.hidden_tag() }}
                                {% for field in form.tickets %}
                                {{ field() }}
                                {% endfor %}
                            </form>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-redeye cancel-button col-md-3 ms-auto" data-form-id="cancelForm-{{ purchase.id }}">Cancel Trip</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if purchase_history %}
    <div class="content-card mx-auto" style="max-width: 938px;">
        <h5>Purchase History</h5>
        <div class="accordion" id="purchaseHistoryAccordion">
            {% for trip, purchase in purchase_history %}
            {% set refund_amount = purchase.refund_amount %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="history-header-{{ loop.index }}">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#history-collapse-{{ loop.index }}"
                        aria-expanded="false"
                        aria-controls="history-collapse-{{ loop.index }}">
                        <div class="d-inline-flex flex-column justify-content-center">
                            <h4>{{ trip.arrival_airport.city }}, {{ trip.arrival_airport.state }}
                                {% if purchase.refunded %}
                                <span class="badge bg-redeye">Refunded</span>
                                {% endif %}
                            </h4>
                            <h6>{{ trip.departure_datetime.strftime('%a, %b %d, %Y') }}</h6>
                        </div>
                    </button>
                </h2>
                <div id="history-collapse-{{ loop.index }}"
                    class="accordion-collapse collapse"
                    aria-labelledby="history-header-{{ loop.index }}" data-bs-parent="#purchaseHistoryAccordion">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md">
                                <div class="vstack justify-content-between h-100">
                                    <div class="hstack text-center mx-auto">
                                        <h4>
                                            {{ trip.departure_airport.code }}
                                            <i class="bi bi-arrow-right-short"></i>
                                            {{ trip.arrival_airport.code }}
                                        </h4>
                                    </div>
                                    <div>
                                        {% for flight in trip.flights %}
                                        <div class="hstack">
                                            <h6>
                                                {{ flight.flight.departure_airport.code }}
                                                <i class="bi bi-arrow-right-short"></i>
                                                {{ flight.flight.arrival_airport.code }}
                                            </h6>
                                            <h6 class="ms-auto">RE{{ flight.flight.number }}</h6>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <hr class="d-block d-md-none my-3">
                            <div class="col-md">
                                <div class="vstack h-100">
                                    <div class="hstack">
                                        <p class="flex-grow-1 mb-1">Base Fare</p>
                                        <p class="mb-1">{{ "$%.2f"|format(purchase.base_fare / purchase.total_passengers) }}</p>
                                    </div>
                                    <div class="hstack">
                                        <p class="flex-grow-1 mb-1">Passengers</p>
                                        <p class="mb-1">x{{ purchase.total_passengers }}</p>
                                    </div>
                                    <div class="hstack">
                                        <p class="flex-grow-1 mb-1">Total Fare</p>
                                        <p class="mb-1">{{ "$%.2f"|format(purchase.base_fare) }}</p>
                                    </div>
                                    <div class="hstack">
                                        <p class="flex-grow-1 mb-1">Taxes & Fees</p>
                                        <p class="mb-1">{{ "$%.2f"|format(purchase.taxes) }}</p>
                                    </div>
                                    {% if refund_amount > 0 %}
                                    <div class="hstack">
                                        <h6 class="flex-grow-1">Subtotal</h6>
                                        <h6>{{ "$%.2f"|format(purchase.purchase_price) }}</h6>
                                    </div>
                                    <div class="hstack mt-auto pt-4">
                                        <h6 class="flex-grow-1">Refund</h6>
                                        <h6 class="text-redeye">{{ "-$%.2f"|format(refund_amount) }}</h6>
                                    </div>
                                    {% endif %}
                                    <div class="hstack mt-auto">
                                        <h4 class="flex-grow-1">Total</h4>
                                        <h3>{{ "$%.2f"|format(purchase.purchase_price - refund_amount) }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% else %}
    <div class="content-card">
        <h5>You don't have any trips...</h5>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/apiform.js"></script>
<script>
    $(document).ready(function () {
        $('.api-form').apiform({
            onSuccess: function(response) {
                window.location.reload();
            }
        });

        const $confirmationModal = $('#confirmationModal');
        const confirmationModal = bootstrap.Modal.getOrCreateInstance($confirmationModal[0]);

        $('.cancel-button').click(function(event) {
            const button = $(this);
            const form = $(`#${button.data('form-id')}`);
            confirmationModal.show();
            $confirmationModal.one("accepted.bs.modal", function(event) {
                form.submit();
            });
        });
    });
</script>
{% endblock %}