{% extends "main/layout.html" %}

{% block styles %}
{{ super() }}
<style>
    .flightPath {
        /* Give some buffer on the ends or else the line can show past the end markers*/
        width: calc(100% - 4px);
        position: absolute;
        height: 2px;
        left: 2px;
        background-color: black;
        top: calc(50% - 1px);
    }

    .pathMarker {
        height: 8px;
        width: 8px;
        position: absolute;
        top: calc(50% - 4px);
        left: calc(50% - 4px);
        background-color: black;
    }

    .pathMarker.start {
        left: 0;
    }

    .pathMarker.end {
        left: calc(100% - 8px);
    }

    .pathText {
        min-width: 50px;
        margin-bottom: 0;
        text-align: center;
    }

    .pathText.start {
        text-align: left;
    }

    .pathText.end {
        text-align: right;
    }

</style>
{% endblock %}

{% block content %}
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Select Trip</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to select this trip? The flight lands after your desired return date.</p>
            </div>
            <div class="modal-footer">
                <button onclick="$(this).trigger('rejected.bs.modal')" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">No</button>
                <button onclick="$(this).trigger('accepted.bs.modal')" type="button" class="btn btn-redeye"
                    data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay-parent flex-grow-1 content-background">
    <div id="loadingScreen" class="overlay-content vstack justify-content-center fade show bg-white">
        <div class="my-auto">
            <div class="text-center">
                <div class="spinner-grow text-redeye" style="width: 2rem; height: 2rem; animation-delay: 0ms;"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-redeye" style="width: 2rem; height: 2rem; animation-delay: 150ms;"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-redeye" style="width: 2rem; height: 2rem; animation-delay: 300ms;"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div id="contentContainer" class="container mt-3" style="max-width: 938px; display: none;">
        <h2><span id="departureCode"></span><i class="bi bi-arrow-right-short"></i><span id="arrivalCode"></span></h2>
        <h5 id="departureDate"></h5>
        <div id="noFlightsMessage" class="content-card p-3 d-none mt-3">
            <p class="fw-bold my-2">Unfortunately, no flights meet your search criteria.</p>
        </div>
        <div id="resultContainer" class="mx-md-5 mt-4"></div>
    </div>
</div>
<template id="resultRow">
    <div class="row gx-0 mb-3 content-card">
        <div class="col me-md-5 mb-3 mb-md-0">
            <div class="d-flex flex-nowrap" name="topRow">
                <p class="flex-grow-1" name="flightNumbers"></p>
                <p name="tripTime"></p>
            </div>
            <div class="d-flex flex-nowrap justify-content-between mb-3">
                <h4 class="d-inline-block" name="departureTime"></h4>
                <!-- <h4 class="d-inline-block"><i class="bi bi-arrow-right-short"></i></h4> -->
                <h4 class="d-inline-block" name="arrivalTime"></h4>
            </div>
            <div name="layoverContainer" class="d-flex flex-nowrap justify-content-between"></div>
            <div name="markerContainer" class="d-flex flex-nowrap justify-content-between position-relative">
                <div class="flightPath"></div>
            </div>
            <div name="airportContainer" class="d-flex flex-nowrap justify-content-between"></div>
        </div>
        <hr class="d-md-none">
        <div class="vr d-none d-md-block"></div>
        <div class="col-md-4 ms-md-5 mt-3 mt-md-0 ">
            <div class="d-flex flex-column justify-content-center h-100">
                <h4 class="text-center" name="cost"></h4>
                <button name="book" class="btn btn-redeye" type="button">Book Now</button>
            </div>
        </div>
    </div>
</template>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/luxon.min.js"></script>
<script>
    const itineraries = [];
    const baseUrl = "{{ url_for('api.flightsearch')|safe }}"
    const originalParams = new URLSearchParams(window.location.search);

    function strToDuration(str) {
        // Format = 1 days, 1:23:45
        const obj = {}

        let parts = str.split(',');
        if (parts.length === 2) {
            let days = parts.shift();
            obj.days = days.split(' ')[0];
        }

        parts = parts[0].split(':');

        obj.hours = parts[0];
        obj.minutes = parts[1];
        obj.seconds = parts[2];

        return luxon.Duration.fromObject(obj).shiftTo('hours', 'minutes');
    }

    function initToolTips() {
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            const tooltip = new bootstrap.Tooltip(tooltipTriggerEl, {
                container: 'body',
            });

            $(tooltipTriggerEl).data('tooltip', tooltip);
        });
    }

    function createMarker(airport, layover, extraClasses='') {
        return $(`
            <div class="d-flex flex-column position-relative justify-content-between" 
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                data-bs-html="true"
                title="${airport.city}, ${airport.state}">
                <div class="pathText mb-3 ${extraClasses}">${layover}</div>
                <div class="pathMarker ${extraClasses}"></div>
                <p class="pathText ${extraClasses}">${airport.code}</p>
            </div>
        `);
    }

    function getSearchResults(urlParams, departure_dt, onBook) {
        $('#loadingScreen').show();
        $('#loadingScreen').addClass('show');
        $('#contentContainer').hide();
        $('#resultContainer').html('');

        $('#departureCode').text(urlParams.get('departure_code'));
        $('#arrivalCode').text(urlParams.get('arrival_code'));
        $('#departureDate').text(departure_dt.toLocaleString(luxon.DateTime.DATE_MED_WITH_WEEKDAY));
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: `${baseUrl}?${urlParams.toString()}`,
            type: 'GET',
            success: function (response, textStatus, jqXhr) {
                if (response._meta.total_items === 0) {
                    // TODO: Display something when no available flights are found.
                    $('#noFlightsMessage').removeClass('d-none');
                    searchCollapse.show();
                } else {
                    for (const i in response.items) {
                        const item = response.items[i];
                        const template = document.querySelector('#resultRow');
                        const row = template.content.cloneNode(true);
                        const $row = $(row);

                        const departure_dt = luxon.DateTime.fromISO(item.departure_datetime, { setZone: true });
                        const arrival_dt = luxon.DateTime.fromISO(item.arrival_datetime, { setZone: true });

                        const $departureTime = $row.find('[name="departureTime"]');
                        const $arrivalTime = $row.find('[name="arrivalTime"]');

                        $departureTime.text(departure_dt.toFormat('hh:mm a'));
                        $arrivalTime.text(arrival_dt.toFormat('hh:mm a'));

                        if (departure_dt.get('day') < arrival_dt.get('day')) {
                            $row.find('[name="topRow"]').append('<i class="bi bi-eye-fill text-redeye"></i>');
                        }

                        const $markerContainer = $row.find('[name="markerContainer"]');
                        const $airportContainer = $row.find('[name="airportContainer"]');
                        const $layoverContainer = $row.find('[name="layoverContainer"]');

                        let flightNumbers = '';
                        let flight = null;
                        let previousFlight = null;
                        let current_dt = departure_dt.setZone('utc');

                        for (let j = 0; j < item.flights.length; ++j) {

                            flight = item.flights[j];

                            let layoverText = '';
                            if (previousFlight !== null) {
                                const parts = flight.departure_time.split(':');

                                let nextDeparture = current_dt.set({
                                    hour: parts[0],
                                    minute: parts[1]
                                });

                                // Handle layover rolling over midnight
                                if (nextDeparture < current_dt) {
                                    nextDeparture = nextDeparture.plus(luxon.Duration.fromObject({ hours: 24 }));
                                }

                                const layover = nextDeparture.diff(current_dt, ['hours', 'minutes']);
                                current_dt = current_dt.plus(layover);
                                layoverText = layover.toFormat("h'h'm'm'")
                            }

                            let extraClasses = ''
                            if (j === 0) {
                                extraClasses = 'start';
                            }
                            $marker = createMarker(flight.departure_airport, layoverText, extraClasses);

                            previousFlight = flight;
                            const flightTime = strToDuration(flight.flight_time);
                            current_dt = current_dt.plus(flightTime);

                            flightNumbers += `RE${flight.number} / `;

                            $markerContainer.append($marker);
                            //$airportContainer.append(`<p data-bs-toggle="tooltip" data-bs-placement="top" title="${flight.departure_airport.name}">${flight.departure_airport.code}</p>`);
                        }

                        // Add the final stop
                        $marker = createMarker(flight.arrival_airport, '', 'end');
                        $markerContainer.append($marker);
                        //$layoverContainer.append('<div class="pathText"></div>');
                        //$markerContainer.append('<div class="pathMarker"></div>');
                        //$airportContainer.append(`<p data-bs-toggle="tooltip" data-bs-placement="top" title="${flight.arrival_airport.name}">${flight.arrival_airport.code}</p>`)

                        // Remove the extra "/ " from the end.
                        flightNumbers = flightNumbers.slice(0, flightNumbers.length - 2);
                        const $flightNumbers = $row.find('[name="flightNumbers"]');
                        $flightNumbers.text(flightNumbers);


                        const $tripTime = $row.find('[name="tripTime"]');
                        const tripTime = strToDuration(item.total_time);
                        $tripTime.text(tripTime.toFormat("h'h'm'm'"));

                        const $cost = $row.find('[name="cost"]');
                        const cost = item.cost.toFixed(2);
                        $cost.text(`\$${cost}`);

                        $row.find('[name="book"]').click((event) => {
                            onBook(event, item);
                        });

                        $('#resultContainer').append(row);
                        initToolTips();
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // TODO: How should we handle errors?
                const response = jqXHR.responseJSON
            },
            complete: function () {
                $('#contentContainer').show();
                $('#loadingScreen').removeClass('show');
                setTimeout(function () {
                    $('#loadingScreen').hide();
                }, 150);
            }
        })
    }

    function getReturnTrips(departureParams, departure_dt) {
        const returnParams = new URLSearchParams(departureParams.toString());
        returnParams.set("departure_code", departureParams.get("arrival_code"));
        returnParams.set("arrival_code", departureParams.get("departure_code"));
        returnParams.set("departure_datetime", departure_dt.setZone('utc').toISO());

        getSearchResults(returnParams, departure_dt, function (event, item) {
            itineraries.push(item);
            window.sessionStorage.setItem("itineraries", JSON.stringify(itineraries));
            window.sessionStorage.setItem("passengers", "{{ args.get('num_of_passengers') }}");
            window.location = "{{ url_for('main.checkout') }}";
        });
    }

    $(document).ready(function () {
        const $confirmationModal = $('#confirmationModal');
        const confirmationModal = bootstrap.Modal.getOrCreateInstance($confirmationModal[0]);

        const departureParams = new URLSearchParams(originalParams.toString());
        departureParams.set("expand", "true");

        const departure_date = departureParams.get("departure_date");
        departureParams.delete("departure_date");

        let departure_dt = luxon.DateTime.fromISO(departure_date, { zone: "utc" });
        let now = luxon.DateTime.utc();

        if (departure_dt.startOf("day").equals(now.startOf("day"))) {
            departure_dt = departure_dt.set({ hour: now.hour, minute: now.minute });
        }

        departureParams.set("departure_datetime", departure_dt.toISO());

        getSearchResults(departureParams, departure_dt, function (event, item) {
            if (originalParams.has("return_date")) {
                const return_date = originalParams.get("return_date");
                let arrival_dt;
                if (return_date === departure_date) {
                    arrival_dt = luxon.DateTime.fromISO(item.arrival_datetime);
                } else {
                    arrival_dt = luxon.DateTime.fromISO(return_date, { zone: "utc" });
                }

                let return_dt = luxon.DateTime.fromISO(return_date + 'T23:59:59', { zone: item.arrival_airport.timezone });
                if (arrival_dt.startOf("day") > return_dt.startOf("day")) {
                    confirmationModal.show();
                    $confirmationModal.on('accepted.bs.modal', function (event) {
                        itineraries.push(item);
                        getReturnTrips(departureParams, arrival_dt);
                    })
                } else {
                    itineraries.push(item);
                    getReturnTrips(departureParams, arrival_dt);
                }
            } else {
                window.sessionStorage.setItem("itineraries", JSON.stringify(itineraries));
                window.sessionStorage.setItem("passengers", "{{ args.get('num_of_passengers') }}");
                window.location = "{{ url_for('main.checkout') }}";
            }
        });
    })
</script>
{% endblock %}