{% extends "email/base.html" %}

{% block content %}
<br>
<p>Dear {{ user.first_name }},</p>
<br>
<p>One of the flights for your upcoming trip to {{ trip.destination_airport.city }}, {{ trip.destination_airport.state }} has been cancelled.</p>
<p>A refund of {{ "$%.2f"|format(refund_amount) }} has already been issued.</p>
<p>For assistance please call us at 1-800-123-4567</p>
<p>We apologize for the inconvenience.</p>
<br>
<p>Details</p>
<p>Flight Number: {{ flight.number }}</p>
<p>Date: {{ date.strftime('%a, %b %d, %Y') }}</p>
<p>Departure Airport: {{ flight.departure_airport.code }}</p>
<P>Departure Time: {{ flight.departure_time.strftime('%I:%M %p') }}</P>
<p>Arival Airport: {{ flight.arrival_airport.code }}</p>
<p>Arrival Time: {{ flight.arrival_time.strftime('%I:%M %p') }}</p>
<br>
<p>
    <a href="{{ url_for('main.mytrips', _external=True) }}">
        Click here to view your trips.
    </a>.
</p>
{% endblock %}