{% extends "email/base.html" %}

{% block content %}
<p>Dear Customer,</p>
<br>
<p>Your reservation has been cancelled and a refund of <b>{{ "$%.2f"|format(fare_refund + taxes_refund) }}</b> has been issued. Please allow
    up to 5 buisness days for refund processing.</p>
<p>For further assistance please call 1-800-123-4567.</p>
<br>
<h4>Details</h4>
<table>
    <thead>
        <th scope="col">Flight Number</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Passenger</th>
        <th scope="col">Purchase Price</th>
    </thead>
    <tbody>
        {% for ticket in refunded_tickets %}
        <tr>
            <td>{{ ticket.flight.number }}</td>
            <td>{{ ticket.flight.departure_airport.code }}</td>
            <td>{{ ticket.flight.arrival_airport.code }}</td>
            <td>{{ ticket.last_name }}, {{ ticket.first_name }}</td>
            <td>{{ "$%.2f"|format(ticket.purchase_price) }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Fare Refunded</td>
            <td>{{ "$%.2f"|format(fare_refund) }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Taxes Refunded</td>
            <td>{{ "$%.2f"|format(taxes_refund) }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total Refund</td>
            <td>{{ "$%.2f"|format(fare_refund + taxes_refund) }}</td>
        </tr>
    </tbody>
</table>
<p>
    <a href="{{ url_for('main.my_trips', token=token, _external=True) }}">
        Click here to view your trips.
    </a>
</p>
{% endblock %}