{% from 'bootstrap/messages.html' import render_messages %}
{% extends "main/layout.html" %}

{% block content %}
<div class="flex-grow-1 my-auto content-background">
    <div class="vstack gap-3 mx-auto content-card" style="max-width: 450px">
        <h1 class="text-center text-redeye">{{ title }}</h1>
        <div class="col">
            <div class="mx-auto">
                {% block messages %}
                {{ render_messages() }}    
                {% endblock %}
                {% block form required %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}