{% extends "auth/layout.html" %}
{% from "bootstrap/forms.html" import render_field %}

{% block form %}
<form class="needs-validation api-form" method="POST" action="/api/register" novalidate>
    {{ form.hidden_tag() }}
    <div class="text-dark row">
        <div class="col">
            {{ render_field(form.first_name, autocomplete="given-name") }}
        </div>
        <div class="col">
            {{ render_field(form.last_name, autocomplete="family-name") }}
        </div>
    </div>
    <div class="text-dark">
        {{ render_field(form.email, autocomplete="email") }}
    </div>
    <div class="text-dark">
        {{ render_field(form.password, autocomplete="new-password") }}
    </div>
    <div class="text-dark">
        {{ render_field(form.password2, autocomplete="new-password") }}
    </div>
    <div class="d-grid">
        <input type="submit" class="btn btn-redeye" value="Sign Up">
    </div>
</form>
<div class="d-flex justify-content-center mt-2">
    <p class="me-1">Already have an account?</p><a href="{{ url_for('auth.login') }}"> Sign In</a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/apiform.js"></script>
<script>
$(document).ready(function () {
    const urlParams = new URLSearchParams(window.location.search)
    $('.api-form').apiform({
        onSuccess: function(response) {
            if (urlParams.has('next')) {
                window.location = urlParams.get('next')
            } else {
                window.location = "{{ url_for('main.home') }}"
            }
        }
    })
})
</script>
{% endblock %}