{% from 'bootstrap/messages.html' import render_messages %}
{% extends "base.html" %}

{% set endpoint = '' -%}
{% if request.endpoint -%}
{% set endpoint = request.endpoint -%}
{% endif -%}

{% block styles %}
{{ super() }}
<link href="/static/content/typeahead.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="d-flex flex-column min-vh-100">
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/images/logo.png" alt="" width="180" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link{% if endpoint == 'agent.sales' %} active {% endif %}" aria-current="page"
                            href="{{ url_for('agent.sales') }}">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if endpoint == 'agent.flights' %} active {% endif %}" aria-current="page"
                            href="{{ url_for('agent.flights') }}">Flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if endpoint == 'agent.transactions' %} active {% endif %}" aria-current="page"
                            href="{{ url_for('agent.transactions') }}">Transactions</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-item nav-link dropdown-toggle me-md-2" href="#" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" id="user-menu">
                            {{ current_user.first_name }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="user-menu">
                            <a class="dropdown-item" href="#" onclick="logout()"><i class="bi bi-box-arrow-left"></i>
                                Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}

    {% block messages %}
    {{ render_messages(container_classes=['container']) }}
    {% endblock %}

    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/typeahead.bundle.min.js"></script>
{% endblock %}