:root {
    --redeye: #DB2B30;
}

.navbar .navbar-toggler {
    border: 0;
}

@media (max-width: 768px) {
    .navbar .navbar-nav .nav-item:not(.dropdown) .nav-link.active {
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .navbar.navbar-expand-md .navbar-nav .nav-item:not(.dropdown) .nav-link {
        position: relative;
    }
    
    .navbar.navbar-expand-md .navbar-nav .nav-item:not(.dropdown) .nav-link::after {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        height: 2px;
        transition: all 0.5s;
    }

    .navbar.navbar-expand-md.navbar-light .navbar-nav .nav-item:not(.dropdown) .nav-link::after {
        background-color: #000000;
    }

    .navbar.navbar-expand-md.navbar-dark .navbar-nav .nav-item:not(.dropdown) .nav-link::after {
        background-color: #FFFFFF;
    }
  
    .navbar.navbar-expand-md .navbar-nav .nav-item:not(.dropdown) .nav-link.active::after,
    .navbar.navbar-expand-md .navbar-nav .nav-item:not(.dropdown) .nav-link:hover::after {
        width: 70%;
    }
}

.overlay-parent {
    position: relative;
    display: flex;
    flex-direction: column;
}

.overlay-background {
    z-index: -1;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.overlay-content.show {
    opacity: 1;
}

.text-redeye {
    color: var(--redeye);
}

.btn-redeye {
    color: #FFF;
    background-color: var(--redeye);
    border-color: var(--redeye);
}

.feedback {
    font-size: 0.875rem !important;
}

.collapse-button::after {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: "";
    height: 2px;
    transition: all 0.5s;
}

.collapse-button-dark::after {
    background-color: #FFFFFF;
}

.collapse-button-light::after {
    background-color: #000000;
}

.collapse-button.active::after {
    width: 70%;
}

.form-control:required + label::after{
    color: var(--redeye);
    content: ' *';
    display:inline;
}

.input-group>:first-child:not(:last-child).form-floating>.form-control,
.input-group>:not(:first-child):not(:last-child).form-floating>.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>:last-child:not(:first-child).form-floating>.form-control,
.input-group>:not(:first-child):not(:last-child).form-floating>.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Override the deafault input focus with redeye colors */
.form-control:focus {
    border-color: var(--redeye);
    box-shadow: 0 0 0 .25rem rgba(210,40,43,.45);
}

.content-background {
    background-color: #F0F0F0;
    padding: 1rem;
}

.content-card {
    background-color: #FFF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .content-card {
        padding: 3rem;
    }
}